@import "./../utilities/mixins.scss";
@import "./../variables/breakpoint.scss";

.login {
    position: relative;
    height: 100vh;
    
    .cover,
    .form {
        position: absolute;
        width: 100%;
        height: 50%;
        
        @include break-min($l-mobile) {
            top: 0;
            width: 50%;
            height: 100%;
        }
    }
    .cover {
        left: 0;

        @include break-max($l-mobile - 1px) {
            background: url('/admin/images/login.png') center 25% / 50% no-repeat fixed;
        }
        
        @include break-min($l-mobile) {
            background: url('/admin/images/login.png') 25% center / 240px no-repeat fixed;
        }
    }
    .form {
        @include break-max($l-mobile - 1px) {
            top: 50%;
        }

        @include break-min($l-mobile) {
            right: 0;
        }

        .rowForm {
            background: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 80%;
            padding: 1em;
            border-radius: 35px;
            box-shadow: 15px 15px dimgrey, -15px -15px dimgrey;
        }
    }
}
