$xs-mobile: 320px;
$s-mobile: 375px;
$m-mobile: 414px;
$l-mobile: 576px;
$p-ipad: 768px;
$l-ipad: 1024px;
$xs-laptop: 1200px;
$s-laptop: 1366px;
$m-laptop: 1440px;
$l-laptop: 1600px;
$xl-laptop: 1920px;
$desktop: 2560px;
