.rootcontainer {
    background: pink;
    width: 100px;
    height: 300px;

    %fontSmall {
        font-size: 12px;
    }

    .blue {
        @extend %fontSmall;
        color: blue;
    }

    .red {
        @extend %fontSmall;
        color: red;
    }

    .strongRed {
        @extend .red;
        color: orangered;
    }
}
